<div class="container">
    <section id="content">
        <form action="">
            <h1>Seller Login</h1>
            <br>
            <div>
                <input type="text" placeholder="E-mail" required="" id="username" ng-model="username"/>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" ng-model="password" />
            </div>
            <div>
                <input type="button" ng-click="submit()" value="Login"/>
                <input type="button" onclick="window.location.replace('#/AgriSenso')" value="Cancel"/>
                <a href="#">Forgot your password?</a>
                <a href="#/seller/signup">Sign up</a>
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->